files:
  "/opt/elasticbeanstalk/hooks/configdeploy/logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/awslogs/state/agent-state

      [logs/*.log]  # Update this path to your actual log folder
      file = logs/*.log
      log_group_name = /aws/elasticbeanstalk/ElasticFabric-env  # Replace with your environment name
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S
